[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curtiscde/hugo-theme-massively.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
